<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cwi.rocar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rocar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rocar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.feature.initial.register.client.RegisterClientActivity"
            android:exported="false"
            android:theme="@style/customToolbar"
            android:parentActivityName="br.com.cwi.rocar.presentation.feature.initial.register.RegisterActivity"/>
        <activity
            android:name=".presentation.feature.favorites.FavoriteHostActivity"
            android:exported="false"
            android:theme="@style/customToolbar"/>
        <activity
            android:name=".presentation.feature.initial.query.client.QueryClientHostActivity"
            android:exported="false"
            android:theme="@style/customToolbar"
            android:parentActivityName="br.com.cwi.rocar.presentation.feature.initial.query.QueryActivity"/>
        <activity
            android:name=".presentation.feature.initial.register.vehicle.RegisterVehicleHostActivity"
            android:exported="false"
            android:theme="@style/customToolbar"
            android:parentActivityName="br.com.cwi.rocar.presentation.feature.initial.register.RegisterActivity"/>
        <activity
            android:name=".presentation.feature.initial.query.vehicle.QueryVehicleHostActivity"
            android:exported="false"
            android:theme="@style/customToolbar"
            android:parentActivityName="br.com.cwi.rocar.presentation.feature.initial.query.QueryActivity"/>
        <activity
            android:name=".presentation.feature.initial.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/customToolbar"
            android:parentActivityName="br.com.cwi.rocar.presentation.feature.initial.MainActivity"/>
        <activity
            android:name=".presentation.feature.initial.query.QueryActivity"
            android:exported="false"
            android:theme="@style/customToolbar"
            android:parentActivityName="br.com.cwi.rocar.presentation.feature.initial.MainActivity"/>
        <activity
            android:name=".presentation.feature.initial.MainActivity"
            android:exported="true"
            android:theme="@style/customToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>